*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
nav{
    border: solid black 2px;
}  
.navbar {
    display: flex;      
    justify-content: space-between; 
    align-items: center;
    position: sticky;   
    background-image: url(bark.jpg);
    z-index: 99;
    top:0;
    padding: 0 5px;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
}
.navtag {
    padding: 10px;
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-size: larger;
  }
.navtag:hover {
    color: yellow;
  }
.aboutpage{
    background-image: url(trees.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height:100vh;
    color:white;
}
.welcome{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
@media(min-width:900px){
    .welcome{
        padding:4rem;
    }
}
.aboutdesc{
    padding: 20px;
    text-align: center;
}
@media(min-width:900px){
    .aboutdesc{
        padding:4rem;
    }
}
.qoute{
    padding: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media(min-width:900px){
    .qoute{
        padding:4rem;
    }
}

/* Home to about trans */

.pageabout{
    background-image: url(tree2.jpg);
    background-size: cover;
    /* background-repeat: no-repeat;  */
    background-position: center center;
    min-height: 100vh;
}
img{
    width:200px;
}
@media(min-width:900px){
    img{
        width:300px;
    }
}
.toppage{
    text-align: center;
    padding:1rem 0;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
}

.activity{
    padding-top: 1rem;
    background-image:url(leaves.jpg);
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    border:solid black 2px;
}

@media(min-width: 900px){
    .activity{
        display:flex;
        justify-content: center;
        align-items: center;
        width:60%;
        margin-left: 20%;
    }
}

.pageabout2{
    display:flex;
    justify-content: center;
    align-items: left;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 3px;
}
@media(min-width: 900px){
    .pageabout2{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:40%;
        margin-left:30%;
        font-size: larger;
    }
}
.pageabout2 > p{
    padding: 3px;
}
@media(min-width:900px){
    .pageabout2 > p{
        /* background-color: black; */
        margin:0;
    }
}
/* about to portfolio trans */
.portfolio{
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(trees.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    min-height:100vh;
    text-align: center;
}
.portfolio > h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.myproj{
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(leaves.jpg);
    text-align: center;
}
.pim{
    border:solid black 2px;
}
@media(min-width:900px){
    .myproj{
        padding-top:3rem;
    }
}
@media(min-width:900px){
    .portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 100px;
    }
}
@media(min-width:900px){
    img.pim{
        height:500px;
        width:500px;
    }
}
.first > h2{
    color:aqua;
}
.first{
    padding:10px 0;
}
@media(min-width:900px){
    .first{
        width:30%;
        margin-bottom: 20px;
    }
}
.project{
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
}
.project:hover{
    color:yellow;
}
footer{
    width:100%;
    height: 50px;
    background-image: url(bark.jpg);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border:solid black 2px;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: large;
}
form{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
}
.formdesc{
    text-align: center;
    padding-top: 50px;
}
/* portfolio to contact trans */

.contact{
    background-image: url(leaves.jpg);
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.3);
    min-height:100vh;
}
.gettouch{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
form{
    padding-top:50px;
}